@media (min-width: 1300px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1400px;
  }
}
.carousel-caption {
  top: 0;
  bottom: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-prev:before,
.slick-next:before {
  color: gray;
}
.slick-prev,
.slick-next {
  z-index: 999;
}
.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}
@media only screen and (max-width:991px) and (min-width:768px){

  .slick-prev:before, .slick-next:before {
    display: none;
  
}
.slick-prev {
  left: 0px;
}
.slick-arrow ,.slick-next {
  right: -15px;
}
}

@media only screen and (max-width:1199px) and (min-width:991px){
.slick-prev {
    left: 0px;
}
  .slick-arrow ,.slick-next {
    right: -15px;
  }
  .slick-prev:before,
.slick-next:before {
  /* color: gray; */
  color: red;
}
  }

@media only screen and (max-width: 480px){
  .slick-prev {
    left: 0px;
 display: none;
  }
  .slick-next {
    right: -15px;
    display: none;
  }
}